    <link rel="preload" as="font" type="font/woff2" crossorigin
        href="{{ site.baseurl }}/fonts/ga6daw1J5X9T9RW6j9bNVls-hfgvz8JcMofYTYf6D33WsNFH.woff2" />
    <link rel="preload" as="font" type="font/woff2" crossorigin
        href="{{ site.baseurl }}/fonts/6NUu8FyLNQOQZAnv9bYEvDiIdE9Ea92uemAk_WBq8U_9v0c2Wa0K7iN7iQcIfJD58njt0oc7qv8oRcTn.woff2" />
    <link rel="preload" as="font" type="font/woff2" crossorigin
        href="{{ site.baseurl }}/fonts/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7W0Q5nw.woff2" />
